 
MAINNET_GIVER_ADDRESS=address
# Replace with your actual mainnet giver address
MAINNET_GIVER_KEY= KEY
# Replace with your actual mainnet giver key
# Replace with your actual mainnet phrase
MAINNET_PHRASE= 'apple banana cherry date elderberry fig grape honeydew'